* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: #0f172a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 350px;
}

h2 {
    text-align: center;
    margin-bottom: 25px;
}

.skill {
    margin-bottom: 20px;
}

.skill p {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.bar {
    width: 100%;
    height: 12px;
    background: #1e293b;
    border-radius: 50px;
    overflow: hidden;
}

.fill {
    height: 100%;
    width: 0%;
    border-radius: 50px;
    transition: width 2s ease-in-out;
}

/* Colors */
.html {
    background: linear-gradient(90deg, #ff4d4d, #ff9966);
    width: 90%;
}

.css {
    background: linear-gradient(90deg, #2193b0, #6dd5ed);
    width: 85%;
}

.js {
    background: linear-gradient(90deg, #f7df1e, #ffcc00);
    width: 75%;
}

.python {
    background: linear-gradient(90deg, #3776ab, #4b8bbe);
    width: 70%;
}

.react {
    background: linear-gradient(90deg, #00d8ff, #61dafb);
    width: 80%;
}